header {
    background-color: #FDD835;
    text-decoration-color: #000000;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    background-image: url(/rsschool-cv/pictures/photos/profile_photo.svg);
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
}

#navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    background: #fdd8359d;
    margin-left: 20%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #e067338f;
    border-radius: 10px;
    color: #000000;
}

#creds-and-contacts-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    padding-top: 103px;
    opacity: 0.9;
}

#photo-and-credential {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #d4a33752;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
    font-size: 60px;
}

#contacts-bar {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    padding-top: 25px;
    margin-bottom: 25px;
    background-color: #d4a33752;
    border: none;
    border-radius: 10px;
}

a {
    color: black;
    font-weight: 800;
    padding-right: 20px;
    text-decoration: none;
}

#position-block {
    display: flex;
    justify-content: center;
}

#position-name {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    background-image: url(/rsschool-cv/pictures/photos/java-script-logo.png);
    background-size: 1000px 400px;
    padding-bottom: 50px;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    background-color: #f5de16;
    text-shadow: 1px 0 1px #ffffff,
    0 1px 1px #ffffff,
    -1px 0 1px #ffffff,
    0 -1px 1px #ffffff;
}

#first-name-of-position {
    color: #d87607;
    padding-right: 8px;
}

#second-name-of-position {
    color: #ffffff;
    padding-right: 8px;
}

#third-name-of-position {
    color: #065a85;
    padding-right: 8px;
}

#fourth-name-of-position {
    color: #71556e;
}

#fifth-name-of-position {
    color: #b5afaf;
}

main {
    background-color: #FDD835;
    text-decoration-color: #000000;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

#technologies-icons {
    opacity: 0.7;
    width: 40%;
    max-width: 30%;
    height: 40%;
    max-height: 30%;
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #FDD835;
    text-decoration-color: #000000;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

#on-top-link {
    width: 100px;
    background: none;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 12px;
}

#copyright-details {
    text-align: center;
}

h3 {
    background-color: #ffead7;
}

h4 {
    background-color: #fce3cd;
}