header {
    background-color: #FDD835;
    text-decoration-color: #000000;
    display: block;
}

#creds-and-contacts-container{
    display: flex;
    justify-content: center;
    padding-top: 42px;  
}



#photo-and-credential{
    display: block;
    margin-right: 5%;
}

#photo-container{
    float: left;
}

#profile_photo{
    height: 230px;
    width: 186px;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

#contacts-bar {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    background-color: #ffead7;
    margin-top: 1%;
    margin-bottom: 5%;
}

main {
    background-color: #e9ce9d;
    text-decoration-color: #000000;
}

footer {
    background-color: #b5afaf;
    text-decoration-color: #000000;
}

#copyright-details {
    text-align: center;
}

h3 {
    background-color: #ffead7;
}

h4 {
    background-color: #fce3cd;
}